<style type="text/css">
	body {
		font-size: 12px;
	}
</style>
<h1>home</h1>
<p>#links: {{vm.links.length | number}}</p>
<p>#pagination: {{vm.paginationData}}</p>

<div ng-show="0===vm.links.length">
	<p> <strong>no new links, you should add some! &rarr;</strong> <a href="#!/add">add new item</a></p>
</div>


<!-- pagination -->
<hb-link-vote-pagination num-items="{{vm.links.length}}" items-per-page="{{vm.paginationData.itemsPerPage}}" current-page="vm.paginationData.currentPage" update-page-data="vm.getItems(page)"></hb-link-vote-pagination>


<div ng-hide="0===vm.links.length">
	<select ng-model="vm.listOrder" ng-change="vm.changeOrder()">
		<option value="">Order by (creation date)</option>
		<option value="decreasing">most voted z > a</option>
		<option value="increasing">less voted a > z</option>
	</select>
</div>
<ol>
	<li ng-repeat="link in vm.linksPaged" style="border:1px solid #ccc;margin-bottom:10px;padding:0px 10px;">
		<div>
			<p>		
				<u><strong>name</strong></u>: {{link.name}} <br>
				<u><strong>votes</strong></u>: {{link.votes_count}} <br>
				<u><strong>current_user_voted</strong></u>: {{link.current_user_voted}} <br>
				<u><strong>last_voted_at</strong></u>: 
					<span style="font-size:12px;line-height:16px;font-weight:bold;display:inline-block;padding:4px;background-color:#888;color:#fff;">{{link.last_voted_at | date: 'dd.MM.yyyy'}}</span> <span style="font-size:12px;line-height:16px;font-weight:bold;display:inline-block;padding:4px;background-color:#888;color:#fff;">{{link.last_voted_at | date: 'HH:mm:ss'}}</span> <br>
				<u><strong>id</strong></u>: {{link.id}} <br>
				<u><strong>created_at</strong></u>: 
					<span style="font-size:12px;line-height:16px;font-weight:bold;display:inline-block;padding:4px;background-color:#333;color:#fff;">{{link.created_at | date: 'dd.MM.yyyy'}}</span> <span style="font-size:12px;line-height:16px;font-weight:bold;display:inline-block;padding:4px;background-color:#333;color:#fff;">{{link.created_at | date: 'HH:mm:ss'}}</span> <br>
				<u><strong>link</strong></u>: {{link.redirect_url}}
			</p>
			<p>
				<button type="button" ng-click="vm.removeLinkPrelude(link,$index)" ng-disabled="vm.disableRemove">remove</button>
				<button type="button" ng-click="vm.downVote(link,$index)" ng-show="link.current_user_voted">downvote</button>
				<button type="button" ng-click="vm.upVote(link,$index)" ng-show="!link.current_user_voted">upvote</button>
			</p>			
		</div>
	</li>
</ol>






