<div class="container">
	<div class="row">
		<div class="twelve columns">

			<!-- panel instance -->
			<div class="hb-panel">
				<div class="hb-panel-header hb-cf">
					<div class="hb-panel-title">
						<h4>Recent Posts</h4>
					</div>
					<div class="hb-panel-selector">
						<select ng-model="vm.listOrder" ng-change="vm.changeOrder()">
							<option value="">Order by (creation date)</option>
							<option value="decreasing">most voted z > a</option>
							<option value="increasing">less voted a > z</option>
						</select>
					</div>
					<div class="hb-panel-intro">
						<strong>{{vm.links.length}}</strong> links total!
						<br>
						<span ng-click="vm.toggleExtras();" title="toggle extras">
							<i class="fa fa-eye" aria-hidden="true" ng-show="vm.showExtras"></i>
							<i class="fa fa-eye-slash" aria-hidden="true" ng-show="!vm.showExtras"></i>
						</span>
					</div>
				</div>
				<div class="hb-panel-content">
					<ul class="hb-links-list">
						<li ng-repeat="link in vm.linksPaged track by $index">
							<div class="hb-link hb-cf">
								<div class="hb-link-votes">
									<span><strong>{{link.votes_count}}</strong>
									<br>
									<small>votes</small></span>
								</div>
								<div class="hb-link-details">
									<h5 title="{{link.tagline}}">{{link.name}}</h5>
									<div class="hb-link-extras" ng-show="vm.showExtras" ng-cloak>
										<span><u>created at</u>: <strong>{{link.created_at | date: 'dd.MM.yyyy'}}</strong> <strong>{{link.created_at | date: 'HH:mm:ss'}}</strong></span>
										<span><u>last voted at</u>: <strong>{{link.last_voted_at | date: 'dd.MM.yyyy'}}</strong> <strong>{{link.last_voted_at | date: 'HH:mm:ss'}}</strong></span>
									</div>
									<div class="hb-push-bottom push-kindly">
										<a ng-href="{{link.redirect_url}}"><small>{{link.redirect_url}}</small></a>
									</div>
									<div class="hb-cf">
										<span ng-show="link.current_user_voted" class="color-success" title="You voted for this item">
											<i class="fa fa-check" aria-hidden="true"></i>
										</span>
										<button type="button" class="button hb-button-plain skip-padding u-pull-right" ng-click="vm.downVote(link,$index)" ng-show="link.current_user_voted">
											<i class="fa fa-chevron-down" aria-hidden="true"></i> downvote
										</button>
										<button type="button" class="button hb-button-plain skip-padding u-pull-right" ng-click="vm.upVote(link,$index)" ng-show="!link.current_user_voted">
											<i class="fa fa-chevron-up" aria-hidden="true"></i> upvote
										</button>
									</div>
								</div>
								<div class="hb-link-remove">
									<button type="button" class="button hb-button-plain icon-button" ng-click="vm.removeLinkPrelude(link,$index)" ng-disabled="vm.disableRemove" title="Remove item">
										<i class="fa fa-minus-circle" aria-hidden="true"></i>
									</button>
								</div>
							</div>
						</li>
					</ul>
					<div class="hb-no-links-info text-center" ng-show="vm.links.length===0" ng-cloak>
						<span>no links to show, use pinkie "<strong>submit link</strong>" button to add some..</span>
					</div>
				</div>
				<div class="hb-panel-footer">
					<!-- pagination -->
					<div ng-hide="vm.links.length<=vm.paginationData.itemsPerPage" ng-cloak>
						<hb-link-vote-pagination num-items="{{vm.links.length}}" items-per-page="{{vm.paginationData.itemsPerPage}}" current-page="vm.paginationData.currentPage" update-page-data="vm.getItems(page)"></hb-link-vote-pagination>
					</div>
				</div>
			</div>			
			<!-- end :: panel instance -->

		</div>
	</div>
</div>