<h1>add</h1>

<div>
	
	<a href="#!/">Return to List</a>
	<h2>Add New Link</h2>
	<p>feed app data with adding items one by one</p>
	<form ng-submit="vm.addLink()">
		<div>
			<label for="hb-link-name">Link Name:</label>
			<input type="text" placeholder="e.g Alphabet" id="hb-link-name" ng-model="vm.formData.linkName" required>
		</div>
		<div>
			<label for="hb-link-url">Link URL:</label>
			<input type="url" placeholder="http://abc.xyz" id="hb-link-url" ng-model="vm.formData.linkUrl" required>
		</div>
		<button type="submit" ng-disabled="vm.disableAdd">add</button>
	</form>

	
	<div ng-if="!vm.isUserCheated">
		<hr>
		<h2>--or cheat--</h2>
		<p>cheaterz gonna cheat! (feeds the sessionStorage monkey with items.json for a single time)</p>
		<button type="click" ng-click="vm.cheetah()">cheat!</button>
		<p>is:: {{vm}}</p>		
	</div>

</div>