// variables



// colors
$color-gray-light: #f4f4f4;
$color-gray-medium: #c4c4c4;
$color-warning: #f9d41e;
$color-error: #ca1717;
$color-success: #8ad429;
$color-pinkie: #e61f3b;

// measures
$container-width: 640px;
$gap-instance: 2rem;
$width-votes-holder: 6rem;
$height-button-plain: 28px;
$pagination-indicator-min-width: 50px;
$modal-width-mobile: 90%;
$modal-width: 500px;
$button-small-pad-gap: 12px;